# Experiment Definitions
#
# In the "experiments" dict, you can define one entry per named experiment you
# want to run. That experiment entry should have "control", "vary", and
# "constrain" sections.
#
# In the "control" section, list each variable that is held constant for the
# experiment, and the value it should have.
#
# In the "vary" section, list each variable you want to change between
# conditions, and all of its possible values. All combinations of the values
# will be considered.
#
# The "constrain" section is used because all possible combinations of variable
# values from the "vary" section might not make sense. If the section is
# present, it is a list of "constraint pass" lists of objects where the keys
# are variable names and the values are variable values. If a value is itself a
# list, all values in the list are allowed. Only experimental conditions that
# match at least one entry in each constraint pass, on all of the entry's
# variables, will actually be run.
#
# So, if you want to only use read trimming with R10 nanopore reads, and you
# want to use un-trimmed HiFi reads, you could write a constrain section like:
# 
# constrain:
#   - 
#     - tech: r10
#       trimmedness: ".trimmed"
#     - tech: hifi
#       trimmedness: ""
#
# Note the extra "-" and level of indentation; there is one pass of
# constraining here, but there could be more.
#
# The possible variables and their accepted values are:
#
# realness: Controls if the reads are real reads or simulated reads. Can be
# "real" or "sim".
#
# tech: The sequencing technology. With the data set we use, can be "r10",
# "hifi", or "illumina".
#
# sample: The name of the sample to use reads from. Determines which read files
# are used. With the data set we use, can be "HG002".
#
# trimmedness: Can be ".trimmed" (with leading ".") or "" (empty string).
# Determines if the first 100 and last 10 bases of the reads should be dropped
# (to remove nanopore adapter sequences).
#
# subset: Can be "1k", "10k", "100k", or "1m". Controls the number of reads to
# run.
#
# reference: The name of the linear reference assembly to use. Right now we
# only use "chm13".
#
# refgraph: The graph to use. "primary" or "hprc-v1.1-mc"
#
# The hprc graphs can have additional modifications added, separated by "-"
# -d9 for frequency filtered
# -sampled[] for haplotype sampling
# -unchopped for the graph with unchopped nodes. This comes last in the order
#
# mapper: the read mapper to run. Can be "minimap2" or "winnowmap". Can also be
# "giraffe-" and then a minimizer configuration like "k31.w50.W" or "k29.w11",
# and then a dash and a Giraffe preset like "-hifi", and then "-default" or a Git
# commit, and then "-noflags" or a string understandable to get_vg_flags() in the
# Snakefile that determines a set of command line flags to pass.
#
# The number after "k" is the minimizer length, the number after "w" is the
# number of windows to choose minimizers from, and the ".W" is there if
# high-frequency k-mers should be down-weighted to make them less likely to be
# minimizers.
#
# The preset is one of Giraffe's available mapping parameter preset names.
#
# category: Optional variable. Can be "", "centromeric", or "not_centromeric".
#
# ALL of these variables (except the optional ones) need to be covered in each
# experiment, in either the "control" section (to hold them constant) or the
# "vary" section (to run them through a list of values).

real_slurm_extra: "--exclude=phoenix-[00-10,22-24]"
exclusive_timing: false
min_exclusive_reads: 1000000

real_exps: []
sim_exps: []
dv_exps: []
sv_exps: []

non_zipcode_giraffe_versions: ["230872", "v1.62.0"]

experiments:

  hifi_sim_1m:
    control:
      subset: 1m
      tech: hifi
      reference: chm13
      sample: HG002
      realness: sim
    vary:
      refgraph: ["hprc-v2.0-mc-eval.ec1M-sampled16o", "hprc-v2.0-mc-eval.ec1M-sampled32o"]
      mapper: ["giraffe-k31.w50.W-hifi-498236-noflags", "giraffe-k31.w50.W.path-hifi-498236-rpf1rpc33", "giraffe-k31.w50.W.path-hifi-498236-rpf1rpc86"]
